.modal-div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100vw;
  height: 100vh;
}

.change-password-form {
  background-color: #FAFAFA;
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
  box-sizing: border-box;
  justify-content: space-between;
  width: 400px;
  height: min(250px, 450px);
}

input {
  width: 70%;
  height: 30px;
  color: black;
  border: 1px solid #d4e3fc;
  font-size: 14px;
  padding-left: 7px;
  box-sizing: border-box;
}

.change-password-change,
.change-password-current,
.change-password-check {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin: 0 0;
  padding: 0 0;
  box-sizing: border-box;
}

.change-password-change-title,
.change-password-current-title,
.change-password-check-title {
  margin: 0 5px;
  padding: 0 0;
  align-self: center;
  font-size: 15px;
}

button {
  width: 100%;
  height: 40px;
  color: white;
  background-color: #36C5F0;
  border: 1px solid #00bcf5;
  font-size: 14px;
  align-self: center;
}

.change-password-cancle {
  background-color: white;
  border: 1px solid gray;
  color: black;
}