.layout {
  padding: calc(3rem + var(--headerHeight)) var(--containerPadding);
}

.grid {
  --gridCols: 3;
  display: block;
  grid-gap: 40px;
  width: auto;
  margin: 0 auto;
  grid-template-columns: repeat(var(--gridCols), 1fr);
}

.gallery img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.grid--split {
  grid-template-columns: 33% 67%;
  grid-gap: 20px;
}

.split {
  display: grid;
  grid-template-columns: 33% 67%;
  grid-gap: 20px;
}

.buttoncontainer{
  padding-top: 20px;
}

.sortbutton{
}

.writebutton{
  float: right;
}

@media only screen and (min-width: 200px) {
  :root {
    --baseFontSize: 112.5%;
  }
  .grid {
    display: grid;
  }
  .flex {
    display: flex;
  }
}
